body{
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(37, 38, 40);
    color: aliceblue;
    justify-content: center;
    
}

h1{
    font-weight: bold;
    color: rgb(230, 181, 214);
}

#vowel-input{
    background-color: rgb(114, 118, 118);
    height: 28px;
    margin-bottom: 10px;
    border: 2px solid;
    border-color: rgb(154, 226, 245);
    outline: none;
    color:whitesmoke;
    padding:6px 12px;
    font-size: medium;
    
}
 
#vowel-input:focus{
    border: 3px solid;
    border-color: rgb(132, 214, 249) ;
}

#submit-btn{
    background-color:rgb(195, 244, 225);
    height:30px;
    width:100px;
    border:1.5px solid rgb(132, 249, 196);
    font-size: medium;
    font:inherit;
    font-weight:bolder;

}
#output-el{
    color:rgb(132, 214, 249) ;
    font-size: medium;
}
